<!--
  ~ Copyright 2020-2022 RukkitDev Team and contributors.
  ~
  ~ This project uses GNU Affero General Public License v3.0.You can find this license in the following link.
  ~ 本项目使用 GNU Affero General Public License v3.0 许可证，你可以在下方链接查看:
  ~
  ~ https://github.com/RukkitDev/Rukkit/blob/master/LICENSE
  -->

<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n)</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
